<div class="signup-container">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
        <div *ngIf="signupForm.get('username').invalid && signupForm.get('username').touched">
          <div *ngIf="signupForm.get('username').errors?.required">Username is required.</div>
        </div>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
          <div *ngIf="signupForm.get('email').errors?.required">Email is required.</div>
          <div *ngIf="signupForm.get('email').errors?.email">Please enter a valid email address.</div>
          <div *ngIf="signupForm.get('email').errors?.pattern">Email must be a valid Gmail address (e.g.,user&#64;gmail.com).</div>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
          <div *ngIf="signupForm.get('password').errors?.required">Password is required.</div>
          <div *ngIf="signupForm.get('password').errors?.minlength">Password must be at least 8 characters long.</div>
          <div *ngIf="signupForm.get('password').errors?.pattern">Password must contain at least one lowercase letter, one uppercase letter, one digit, one special character, and be at least 8 characters long.</div>
        </div>
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="signupForm.get('confirmPassword').invalid && signupForm.get('confirmPassword').touched">
          <div *ngIf="signupForm.get('confirmPassword').errors?.required">Please confirm your password.</div>
        </div>
      </div>
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Log in</a></p>
  </div>
  